* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  min-width: 100%;
}

:root {
  --bgColor: rgb(226, 253, 224);
  --fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --titleColor: rgb(68, 68, 68);
  --darkGreen: rgb(2, 80, 18);
}

body {
  background-color: var(--bgColor);
  min-height: 100vh;
  font-family: var(--fontFamily);
}

main {
  width: 45%;
  margin: 100px auto;
}

section {
  text-align: center;
}

h1 {
  white-space: nowrap;
  position: relative;
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--titleColor);
  display: flex;
  justify-content: center;
  display: inline-table;
}

h1::before {
  content: " ";
  height: 4px;
  width: 50%;
  background-color: var(--darkGreen);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
