* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  min-width: 100%;
}

:root {
  --bgColor: rgb(226, 253, 224);
  --fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --titleColor: rgb(68, 68, 68);
  --darkGreen: rgb(2, 80, 18);
}

body {
  background-color: var(--bgColor);
  min-height: 100vh;
  font-family: var(--fontFamily);
}

main {
  width: 45%;
  margin: 70px auto;
  min-width: 620px;
}

section {
  text-align: center;
}

h1 {
  white-space: nowrap;
  position: relative;
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--titleColor);
  display: flex;
  justify-content: center;
  display: inline-table;
  margin-bottom: 60px;
}

h1::before {
  content: " ";
  height: 4px;
  width: 50%;
  background-color: var(--darkGreen);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.single-item {
  background-color: white;
  border-radius: 7px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  max-height: 350px;
  width: 100%;
  object-fit: cover;
}

.item-content {
  padding: 25px;
}

.item-title-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.item-title {
  color: rgb(89, 89, 89);
}

.item-price {
  color: rgb(10, 140, 45);
  background-color: var(--bgColor);
  padding: 3px 10px;
}

.desription {
  color: rgb(126, 126, 126);
  margin-bottom: 20px;
}

.no-btn {
  color: rgb(250, 106, 106);
  background: transparent;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 2px 40px;
  border: 2px solid rgb(250, 106, 106);
  border-radius: 3px;
  cursor: pointer;
}
